*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
@font-face {
    font-family: rubik;
    src: url(../Rubik/Rubik-VariableFont_wght.ttf);

}

.container{
  
    border-radius: 10px;
    margin: 7rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    height: 400px;
    width: 400px;      
    font-family: rubik;
    padding: 20px 10px 0px 20px ;
    
}

img{
    height: 230px;
    width: 360px;
    border-radius: 10px;    
}

p{
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 7px;
    margin-bottom: 0px;
}
hr{
    width: 75%;
    margin-top: 10px;
    margin-bottom: 0px;border: 1px solid rgba(128, 128, 128, 0.27);
}

#pricing{
   margin-top: 8px;
    
}

#price{
    font-size: 18px;
    font-weight: 700px ;
    line-height: 18px;
    color: rgb(102, 116, 204);
    padding-right: 8px;
   
}

#real-price{
    font-size: 18px;
    font-weight: 700px ;
    color: rgb(119, 124, 133);
    padding-right: 8px;
}

#offer{

    background-color: #1DD1A1;
    border-radius: 3px;
    color: white;
    font-size: 18px;
    font-weight: 700px ;
    
    padding-right: 8px;
}




